* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-width: 1400px;
  margin: auto;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  padding-bottom: 2px;
}

.navLink a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: black;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
  /* display: none; */
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 10px;
  background-color: blue;
}

.navLink {
  position: fixed;
  width: 100%;
  top: 70px;
}

.navLink a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.hidden {
  display: none;
}

section {
  margin-top: 50px;
}

.hero {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 100px;
  align-items: center;
  justify-items: center;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  flex-direction: row;
}

.img-style {
  width: 120px;
  height: 120px;
}

.detail {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
}

.detail p {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navLink {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: black;
  }

  .navLink a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    font-size: 28px;
  }

  .main {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .details {
    flex-direction: column;
    gap: 10px;
  }
 
}
@media screen and (max-width: 514px) {
  .hero {
    font-size: 16px;
    margin: 16px;
  }

  .main {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .details {
    flex-direction: column;
    padding: 10px;
  }
 
}
